<h2 style="text-align: center"> Read About Us</h2>
<div id = "centered">
	<p>

		<br />

	<br />
	<p style="text-align: center; color: #FF0000">
		
	</p>
	</p>
	<p>
		The Faculty of Veterinary Medicine, Cairo University is one of the oldest veterinary colleges in the Middle East and Africa. Its roots go back to more than 170 years ago. A large number of veterinarians from Egypt, Arab and African countries have been graduated since then. The Faculty of Veterinary Medicine, Cairo University has suitable, always improving, facilities for teaching sciences of veterinary medicine. It also employs a satisfactory body of staff members who obtained their postgraduate degrees from different international veterinary schools in different disciplines of veterinary science. Based on the history and contemporary qualifications of the Faculty of Veterinary Medicine, Cairo University, the faculty aims to enforce its programme to be able to obtain accreditation on both national and international levels.
The Department of Pathology is one of the oldest departments at the level of Veterinary Medicine, where it was created with the establishment of the first school of Veterinary Medicine.
</p> 
<p>Department Mission:</p>
<p> Pathology department aims to train undergraduate and graduate students to recognize the pathological changes that occur in the tissues and organs of the animal body and through the use of a microscope. The department also aims to train students to dissect the dead animals to reach an accurate diagnosis and the cause of the deaths. The department also conducted scientific research to interact with the community to assist in the diagnosis of diseases affecting livestock.</P>
	<p>
Pathology department is equipped by a dissection room supervised by the academic staff members and, we provide necropsy service for all kinds of animals brought either from the faculty hospital or by the owners with full P.M report (Macro. and Micro.) done by the academic staff members from Sunday to Thursday (from 10 am to 01 pm). The department has a histological unit concerned with tissue processing, staining and microscopic examination of tissue samples.
	</p>

</div>