
<br />

<h1> Organizing Committee:</h1>
<p style="text-align: center; color: #FF0000">
	<h3 style="text-align:justify; margin-right: 37px;  color: black">
	<font face="Garamond">

<br />
1-Prof. Dr. Iman Bakr Mohamed, PhD&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Faculty of veterinary Medicine, Cairo University
<br />
2-Prof. Dr. Sohair Mohmoud sokkar , PhD&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Faculty of veterinary Medicine, Cairo University
<br />
3-Prof. Dr . Rawhia Eswaiy Dogahim, PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Faculty of veterinary Medicine, Cairo University
<br />
4-Prof. Dr. Nabiha Ramdan Hassan, PhD&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Faculty of veterinary Medicine, Cairo University
<br />
5-Prof. Dr . Magdi Mohamed El Mahdy,
PhD&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Faculty of veterinary Medicine, Cairo University
<br />
6-Prof. Dr . Osama Mohamed ElShazly, &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPhD Faculty of veterinary Medicine, Cairo University
<br />
7- Prof. Dr. Mohamed Mostafa Lotfy, PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Faculty of veterinary Medicine, Cairo University
<br />
8-Prof. Dr . Adel Mohamed Bakeer, PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Faculty of veterinary Medicine, Cairo University
<br />

9-Prof. Dr . Ezz El Din Sakar, PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br />
10-Prof. Dr . Kowkab Abdel azziz, PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br />
11-Dr . Sherein Said Abdel Gaid, PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br />
12-Dr. Azza Hassan Morsi, PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br />
13-Dr. Faten Mohamed Fathy, PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br />
14-Dr. Reda Sayed Korani , PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br />
15-Dr. Reham Mahmoud Mohamed , PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br />
16-Dr. Marwa Salah Mohamed &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br />
17-Dr. Asmaa Khairy El mokkadem &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br />
18-Dr. Fatma Ahmed Ahmed&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br />
19-Dr. Mohamed Ibrahim Gabber &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br />
20-Dr. Merhan Essam Ali &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br />
21-Dr. Mohamed Refaat Musa &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br />

	</h3>
</p>