
<br />

<h1> Organizing Committee:</h1>
<p style="text-align: center; color: #FF0000">
	<h3 style="text-align:justify; margin-right: 37px;  color: black">
	<font face="Garamond">

<br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp1-Prof. Dr. Iman Bakr Mohamed, PhD&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Faculty of veterinary Medicine, Cairo University
<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2-Prof. Dr. Sohair Mohmoud sokkar , PhD&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Faculty of veterinary Medicine, Cairo University
<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3-Prof. Dr . Rawhia Eswaiy Dogahim, PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Faculty of veterinary Medicine, Cairo University
<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4-Prof. Dr. Nabiha Ramdan Hassan, PhD&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Faculty of veterinary Medicine, Cairo University
<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5-Prof. Dr . Magdi Mohamed El Mahdy,
PhD&nbsp&nbsp&nbsp&nbsp

Faculty of veterinary Medicine, Cairo University
<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp6-Prof. Dr . Osama Mohamed ElShazly,PhD &nbsp&nbsp&nbsp&nbsp Faculty of veterinary Medicine, Cairo University
<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp7- Prof. Dr. Mohamed Mostafa Lotfy, PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Faculty of veterinary Medicine, Cairo University
<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp8-Prof. Dr . Adel Mohamed Bakeer, PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Faculty of veterinary Medicine, Cairo University
<br /><br />

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp9-Prof. Dr . Ezz El Din Sakar, PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp10-Prof. Dr . Kowkab Abdel azziz, PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp11-Dr . Sherein Said Abdel Gaid, PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp12-Dr. Azza Hassan Morsi, PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp13-Dr. Faten Mohamed Fathy, PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp14-Dr. Reda Sayed Korani , PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp15-Dr. Reham Mahmoud Mohamed , PhD &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp16-Dr. Marwa Salah Mohamed &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp17-Dr. Asmaa Khairy El mokkadem &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp18-Dr. Fatma Ahmed Ahmed&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp19-Dr. Mohamed Ibrahim Gabber &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br /><br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp20-Dr. Merhan Essam Ali &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br />
<br />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp21-Dr. Mohamed Refaat Musa &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Faculty of veterinary Medicine, Cairo University
<br />

	</h3>
</p>