<br />
<h2 style="text-align: left"> Contact Us</h2>
<div id = "left">
		
<p style="text-align: left; color: #FF0000">
	<h3 style="text-align: left; color: blue">
		<font size="4"; face="Garamond">
			<br />
Iman Shaheed ,PhD
<br />
</font>
		<font size="2"; face="Garamond";color="black">
The Chairman of pathology department, Faculty of Veterinary Medicine, Cairo

University.
</font>
<br /> <br />
Mobile : 02-01223779103
<br />
Tel.: 02-35713652
<br />
E mail : imanshaheed@yahoo.com
		
		
		
	</h3>
</p>
</p>

</div>