<!DOCTYPE html>
<html>
<head>
<style>
a:link {color:black;}    /* unvisited link */
a:visited {color:black;} /* visited link */
a:hover {color:brown;}   /* mouse over link */
a:active {color:#00F0FF;}  /* selected link */
a {text-decoration: none}
a:hover img {
border: none !important;
display: block;
}
</style>
</head>
<br />
<br />


<font size="6"; color=black >
	<center>Contact Us</center>
</font>

<div id = "left">
		
<br />


		<font size="6" face="Garamond"; color="blue" >
			<br />
Iman Shaheed ,PhD
<br />
</font>
		<font size="5"; face="Garamond"; color="blue">
The Chairman of pathology department, Faculty of Veterinary Medicine, Cairo

University.
</font>
<br /> <br /><br />

<font size="5"; face="Garamond"; color="black">
Mobile : 02-01223779103
<br /><br />
Tel.: 02-35713652
<br /><br />
E mail : imanshaheed@yahoo.com
		
</font>		
		

</p>


</div>