
<h2 style="text-align: center"> Home Page</h2>>
<div id = "centered">
<p>
		
		<br />

<br />
<p style="text-align: center; color: #FF0000">
	<h3 style="text-align: center; color: red">Coming Soon ....</h3>
</p>
	
</p>

</div>