<!DOCTYPE html>
<html>
<head>
<style>
a:link {color:black;}    /* unvisited link */
a:visited {color:black;} /* visited link */
a:hover {color:brown;}   /* mouse over link */
a:hover img {
border: none !important;
display: block;
}
a {text-decoration: none}

<img src="/images/button.png" alt="alt text" />
</style>
</head>
<br /> 

<div id = "centered">
	<h3 style="text-align: center;color: black "><font size="5" face="Garamond" color="red"> Submission Deadline 1 March 2015 </font></h1>
</div>

<br /> 
<center>
<img border="0" src="/images/home.jpg"/></a>
</center>