<!DOCTYPE html>
<html>
<head>
<style>

#sidebar2 {
	
float:right;

width:270px;
height:500px;
margin:  40px 20px;


background:#FFFFFF;

}
a:hover img {
border: none !important;
display: block;
}
a {text-decoration: none}
.text { font-family: Swiss, serif; font-size:15pt; font-style:italic; }
.text2 { font-family: Swiss, serif; font-size:16pt;}
<img src="/images/button.png" alt="alt text" />
</style>
</head>

<div id="main">

<center>
<p class="text2" style="line-height: 1.5">

   <font color="black" style="bold">
     1st ANNUAL C.L. DAVIS MIDDLE EASTERN DIVISION  <br />
     DIAGNOSTIC PATHOLOGY SYMPOSIUM:<br />    
     PATHOLOGY OF DOMESTIC AND LABORATORY ANIMALS<br>
     21-25 MARCH, 2015 - CAIRO, EGYPT
     <br /><br /><br />
   </font>
</p>
</center>

<p class="text" style="line-height: 1.3">	
	<img border="0" src="/images/DrTawfik.jpg" align="left"/></a><br />
	<font color="blue">
	&nbsp&nbsp&nbspTawfik Abboellail, DVM, PHD, DACVP<br />
	</font>
	&nbsp&nbsp&nbspColorado State University<br />
	&nbsp&nbsp&nbspDiseases of Ruminants<br />
	<br /><br />
	
	
	<img border="0" src="/images/DrCorrie.jpg" align="left"/></a><br />
	<font color="blue">
	&nbsp&nbsp&nbspCorrie Brown, DVM, PHD, DACVP<br />
	</font>
	&nbsp&nbsp&nbspUniversity of Georgia<br />
	&nbsp&nbsp&nbspDiseases of Avian Species<br />
	<br /><br /><br />
	
	
	<img border="0" src="/images/DrDonald.jpg" align="left"/></a>
	<font color="blue">
	&nbsp&nbsp&nbspDonald Meuten, DVM, PHD, DACVP<br />
	</font>
	&nbsp&nbsp&nbspNorth Carolina State University<br />
	&nbsp&nbsp&nbspDiseases of Horses<br />
	&nbsp&nbsp&nbspClinical Pathology<br />
	<br /><br />
	
	
	<img border="0" src="/images/DrBruce.jpg" align="left"/></a>
	<font color="blue">
	&nbsp&nbsp&nbspBruce Williams, DVM, DACVP<br />
	</font>
	&nbsp&nbsp&nbspJoint Pathology Center<br />
	&nbsp&nbsp&nbspDiseases of the Dog and Cat<br />
	&nbsp&nbsp&nbspDiseases of Laboratory Rodents<br />
	<br /><br /><br />
	
	<font size="5" color="purple">
	Course Directors:<br /><br />
	</font>
	<font size="5" color="red">
	Iman Shaheed<br />
	</font>
	PH.D., Vice Dean For Research, Faculty of Veterinary Medicine, Cairo University<br />
	<font size="4" color="blue" >
	imanshaheed@yahoo.com<br /><br />
	</font>
	
	<font size="5" color="red">
	Tawfik Abboellail<br />
	</font>
	DVM, PhD, DACVP, Assistant Professor, Anatomic Pathology, Colorado State University<br />
	<font size="4" color="blue" >
    tawfik.abboellail@colostate.edu<br /><br />
    </font>
    
   For more information, visit<br />
    <a  href="http://www.cldavis.org/courses/upcoming.html">
    	<font size="4" color="blue" >http://www.cldavis.org/courses/upcoming.html</font></a>
    	
	
</p>

		<br /><br />
<img border="0" src="/images/vm.jpg"/></a>



</div>

<div id="sidebar2">

  <center> 
  <img src="/images/cu.jpg" width="180" height="180">
  <br /> <br /> <br /> <br /> <br /> 
  <img src="/images/colorado.jpg" width="180" height="180">
  <br /> <br /> <br /> <br /> <br /> 
  <img src="/images/cldavis.jpg" width="180" height="180">
  </center>
</div>
