<!DOCTYPE html>
<html>
<head>
<style>
a:link {color:black;}    /* unvisited link */
a:visited {color:black;} /* visited link */
a:hover {color:brown;}   /* mouse over link */
a:hover img {
border: none !important;
display: block;
}
a {text-decoration: none}

<img src="/images/button.png" alt="alt text" />
</style>
</head>
<br /> 

<div id = "centered">
	<h3 style="text-align: center;color: black "><font size="5" face="Helvetica" color="red"> Submission Deadline 30 March 2013 </font></h1>
<p>
<p id="notice"><%= notice %></p>		
<p style="text-align: center; color: #FF0000">
	<h3 style="text-align:justify; margin-right: 37px;  color: black">
	<font size="4" face="Helvetica">
	<br /> 
	Dear colleague, <br />
&nbsp&nbsp	It is my great honor and pleasure to invite you attends the 1st international conference of pathology, Department Faculty of Veterinary Medicine, Cairo University which it will be held In April 25-27 2013. The conference is aimed to promote international exchange and progress in the field of veterinary pathology, and to enhance international collaborations across the world.
	</h3>
</p>
<p style="text-align: justify; margin-left: 30px;color: #FF0000">
	
	<h3  style="text-align:justify; margin-right: 37px;  color: black"> 
<font size="4" face="Helvetica">
&nbsp&nbsp The conference will feature internationally recognized speakers, oral and poster sessions. 
The scientific programs will cover topics of almost all aspects of veterinary pathology, including fundamental research and clinical pathology, tumors, 
infectious diseases and toxicopathology. 
Participants will benefit from meeting and interacting with the specialists for refreshing knowledge base and skills, 
and from opportunities for establishing long-term international collaborations. I ensure you that the conferences are internally influential events.
	</h3>
</p>
<p style="text-align: center; color: #FF0000">
	
	<h3 style="text-align:justify; margin-right: 37px;  color: black"> 
		<font size="4" face="Helvetica">
&nbsp&nbspThe event will be held in Cairo "The City of a Thousand Minarets" for its preponderance of Islamic architecture, Cairo has long been a center of the region's political and cultural life. Cairo was founded by the Fatimid dynasty in the 10th Century, but the land composing the present-day city was the site of national capitals whose remnants remain visible in parts of Old Cairo. Cairo is also associated with Ancient Egypt due to its proximity to the ancient cities of Memphis, Giza and Fustat which are nearby to the Great Sphinx and the pyramids of Giza.
On behalf of the organizing committees, I cordially welcome you to the exciting and stimulating events, and wish you all enjoyable time.
		
		
	</h3>
</p>

<p style="text-align: center; color: #FF0000">
	
	<h3 style="text-align:justify; margin-right: 37px;  color:blue"> 
		<font size="5"; face="Modern">
			<br />
Iman Shaheed ,PhD
<br />
		<font size="3"; face="Modern";color="black">
The Chairman of the Pathology Department, Faculty of Veterinary Medicine, Cairo University
	</h3>
</p>

</p>

</div>