<html>
<style type="text/css">
#container2 {
 width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
}
</style>
<br /><br />
<div id="main">
<center>
<font size="6">
<h1 style="text-align: center;color: black "><font size="6" face="Garamond"> Proceeding </font></h1>
</font>  
<br /> <br />
<div id="nav">
<img border="0" src="/images/proceding.jpg"/> 
</div>
<br />
<br />

<a href =  /program_book/proceding_words.pdf>
<img border="0" src="/images/button(46).png"/>
<br /><br />
<a href =  "https://www.dropbox.com/s/r2e9418maksl2wo/cover%20of%20the%20proceeding.pdf">
<img border="0" src="/images/button(45).png"/>		
  
</center>
</center>
</div>
