<style type="text/css">
#myreel{ /*CSS for border around images*/
 
}
.paginate{ /*CSS for text back and next*/
width: 600px;
margin-top:0px;
font:bold 14px Arial;
color:#000000;
text-align:center;
}
#nav { padding: 6ex; height:190em ; border: 2px solid #aaa; width: 72%; background-image:url('/images/bard.jpg');margin-left: 27ex; margin-top: 7ex; border: 1ex solid #88540E;
margin-bottom: 15ex}
#menu { opacity: 1; height:220em; margin-top: 1em; width: auto; margin-left: 1ex; overflow: hidden; }

</style>




<center>
    <br /><br /><br />
   
<font size="6">
<h1 style="text-align: center;color: black "><font size="6" face="Garamond"> Conference Program </font></h1>
</font>   
</center>



<center>

<div id="nav">
<ol id="menu">
		<a href =  /program_book/program_book.pdf>
<img border="0" src="/images/button(28).png"/>
</a> 
<br /><br />
<img src="/images/prgram.jpg" alt="alt text" />
<br /><br />
		<a href =  /program_book/program_book.pdf>
<img border="0" src="/images/button(28).png"/>
</a> 
</ol>
</div>

</center>