<!DOCTYPE html>
<html>
<head>
<style>
a:link {color:black;}    /* unvisited link */
a:visited {color:black;} /* visited link */
a:hover {color:brown;}   /* mouse over link */
a:active {color:#00F0FF;}  /* selected link */
a {text-decoration: none}
a:hover img {
border: none !important;
display: block;
}
</style>
</head>
<br />
<h2 style="text-align: center"> <font size="5" face="Garamond">  Register Now </h2>
<div id = "centered">
<p>  
<br /><br />
<h3 <style type="text/css" media="screen">
	<font size="5" face="Garamond"> &nbsp &nbsp &nbsp  <u><b>Symposium Registration</u></b>
</style></h3>
<br />
</p><center>


<%= image_tag('/images/symp.jpg')%>
<br /></center>
<br /><br />	<br />
	<h3 <style type="text/css" media="screen"> 
	<font size="5" face="Garamond"> &nbsp &nbsp &nbsp  <b><u>Conference Registration </b></u>
</style></h3>
<br /><center>
<%= image_tag('/images/conf.jpg')%>
</center>
</div>
