<br />
<h2 style="text-align: center"> Register Now </h2>
<div id = "centered">
<p>  
<br />
</p><center>
<%= image_tag('/images/up.png')%>
<br />
<br /><font size="4">
<%= link_to "Please click here to download registration form", "/Registration_form/Regestration_Form.docx" %>
</font>
<br />
<%= image_tag('/images/Down.png')%>
</center>
</div>
