<!DOCTYPE html>
<html>
<head>
<style>
a:link {color:black;}    /* unvisited link */
a:visited {color:black;} /* visited link */
a:hover {color:brown;}   /* mouse over link */
a:active {color:#00F0FF;}  /* selected link */
a {text-decoration: none}
a:hover img {
border: none !important;
display: block;
}
</style>
</head>
<br />
<h2 style="text-align: center"> Register Now </h2>
<div id = "centered">
<p>  
<br />
</p><center>
<%= image_tag('/images/up.png')%>
<br />
<br /><font size="4">
<%= link_to "Please click here to download registration form", "/Registration_form/Rgestration_Form.docx" %>
</font>
<br />
<%= image_tag('/images/Down.png')%>
</center>
</div>
