<h2 style="text-align: center"> Submission </h2>>
<div id = "centered">
<p>
	
		<br />

<br />
<p style="text-align: center; color: #FF0000">
	<h3 style="text-align: center; color: red">Coming Soon ....</h3>
</p>
</p>


<%= form_for(@paper) do |f| %>
<p style="text-align: left">
   <div class="field">
    <%= f.label :Username %><br />
    <%= f.text_field :username %>
  </div>
  
</p>

</div>